@import 'https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans';
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

nav a {
    font-size: 1.6rem;
}

div.card-title {
    font-size: 1.2rem !important;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.invisible {
    display: none;
}
